/wp-admin/
/wp-includes/
/wp-comments-post.php
/wp-config.php
/wp-settings.php
/wp-activate.php
/wp-load.php
/wp-links-opml.php
/wp-cron.php
/wp-trackback.php
/php.ini
/xmlrpc.php
/wp-blog-header.php
/wp-mail.php
/wp-config-sample.php
/.htaccess
/wp-login.php
/readme.html
/license.txt
/wp-signup.php
/index.php